table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 8em;
  box-sizing:border-box;
}

td:hover{
  cursor:pointer;
}

td:first-child{
  border-left: none;
}
td:last-child{
  border-right: none;
}

td:nth-child(2n+2){
  border-right: none;
  border-left: none;
}

thead tr td{
  border-top:none;
  border-bottom: none;
}

tfoot tr td{
  border-top:none;
  border-bottom: none;
}

.container, .playerTurn {
  text-align:center;
}

#playerInfo2 {
  float: right;
  font-size: 1.5em;
  width: 35%;
}

#playerInfo1 { 
  float: left;
  font-size: 1.5em;
  width: 35%;
}

.X, .O {
  border-radius: 0px;
}
.X {
  background: white;
}
.O {
  background: white;
}

.clear {
  background: white;
}

#reset {
  padding: 5px;
  width: 300px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
}

#joinp1 {
    padding: 5px;
  width: 300px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
}

#joinp1:hover{
  background: #b8bdee;
  border-color: white;
}

#reset:hover{
  background: #b8bdee;
  border-color: white;
}